[include]
   path = ~/.gitconfig_work
[includeIf "hasconfig:remote.*.url:https://github.com/*/**"]
  path = ~/.gitconfig_github
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
  path = ~/.gitconfig_github

[credential]
	helper = store
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[core]
  editor = nvim
	excludesFile = ~/.gitignore_global
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictStyle = zdiff3
[url "https://git.woa.com/"]
	insteadOf = https://git.code.oa.com/
	insteadOf = http://git.code.oa.com/
	insteadOf = http://git.woa.com/
	insteadOf = git@git.woa.com:
	insteadOf = git@git.code.oa.com:
	insteadOf = https://git.code.oa.com/
	insteadOf = http://git.code.oa.com/
	insteadOf = http://git.woa.com/
	insteadOf = git@git.woa.com:
	insteadOf = git@git.code.oa.com:
	insteadOf = https://git.code.oa.com/
	insteadOf = http://git.code.oa.com/
	insteadOf = http://git.woa.com/
	insteadOf = git@git.woa.com:
	insteadOf = git@git.code.oa.com:
